html, body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

input{
    border: 2px solid #89c2d9;
    font-family: 'Manrope', sans-serif;
    background-color: whitesmoke;
}

button{
    border: 2px solid #89c2d9;
    color: white;
    font-family: 'Manrope', sans-serif;
    background-color: #89c2d9;
    cursor: pointer;
}

.header{
    text-align: center;
    font-weight: 800;
    padding-top: 20px;
    font-family: 'Manrope', sans-serif;
    font-size: 72px;
    background: -webkit-linear-gradient(#a9d6e5, #89c2d9);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.memeForm{
    padding: 30px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.memeForm--topText{
    grid-row: 2;
}

.memeForm--bottomText{
    grid-row: 2;
}

.memeForm--saveButton{
    grid-row: 3;
    grid-column: 1/2
}

.memeForm--newButton{
    grid-column: 2/3;
    grid-row: 3;
}

.meme{
    position: relative;
    grid-row: 1;
    grid-column: 1/3;   
    height: 500px;    
    width: 500px;    
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: rgb(24, 24, 24);
}

.meme--img{
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.meme--topText{
    font-family: impact, sans-serif;
    color: white;
    font-size: 20pt;
    position: absolute;
    top: 3%;
    width: 100%;
    text-transform: uppercase;    
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.meme--bottomText{
    font-family: impact, sans-serif;
    color: white;
    font-size: 20pt;
    position: absolute;
    bottom: 3%;
    width: 100%;
    text-transform: uppercase;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.memeList{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.memeList--header{
    font-family: 'Manrope', sans-serif;
    font-size: 50px;
    color: #89c2d9;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    grid-row: 0;
    grid-column: 1/3;
}

.savedMeme{
    position: relative;
    height: 250px;    
    width: 250px;    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: rgb(24, 24, 24);
}

.savedMeme--img{
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.savedMeme--topText{
    font-family: impact, sans-serif;
    color: white;
    font-size: 12pt;
    position: absolute;
    top: 3%;
    width: 100%;
    text-transform: uppercase;    
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.savedMeme--bottomText{
    font-family: impact, sans-serif;
    color: white;
    font-size: 12pt;
    position: absolute;
    bottom: 3%;
    width: 100%;
    text-transform: uppercase;    
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.savedMeme--Icon{
    position: absolute;
    bottom: -15%;
    left: 55%;
    background: -webkit-linear-gradient(#a9d6e5, #89c2d9);
    padding: 2px;
    border-radius: 100%;
}

.savedMeme--eraseIcon{
    position: absolute;
    bottom: -15%;
    right: 55%;
    background: -webkit-linear-gradient(#a9d6e5, #89c2d9);
    padding: 2px;
    border-radius: 100%;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    user-select: none;
    cursor: pointer;
}

.material-icons.blue { color: white }